@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: white;
  --txt: black;
  --bgg: rgb(25, 50, 84);
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.dark-theme {
  --bg: #1a1a1a;
  --txt: rgb(216, 216, 216);
  --bgg: rgb(25, 50, 84);
  --box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

html {
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  color: var(--txt);
  background-color: rgb(176, 241, 255);
}

header {
  background-color: var(--bgg);
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

header .title-container {
  padding: 1rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-container img {
  height: 25px;
}

.elemContainer {
  display: flex;
  align-items: center;
  margin-right: 1.3rem;
}

#themeBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

#themeToggle {
  padding: 0.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#themeToggle:hover {
  background-color: rgb(42, 85, 142);
}

#themeToggle svg {
  color: white;
  width: 20px;
  height: 20px;
}

#themeToggle .moon {
  display: none;
  width: 16px;
  height: 16px;
}

.dark-theme #themeToggle .moon {
  display: inline;
}

.dark-theme #themeToggle .sun {
  display: none;
}

.container button:nth-child(2) {
  background: transparent;
  color: #333333;
}

header .links {
  list-style: none;
  display: block;
}

.item a {
  padding: 0.6rem;
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 19px;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 50%;
}

.item a:hover {
  background-color: rgb(42, 85, 142);
}

footer {
  background-color: var(--bgg);
  position: absolute;
  width: 100%;
  padding: 4rem 0;
  padding-bottom: 1.5rem;
  font-size: 13px;
  line-height: 20px;
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.col {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
}

footer a {
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-size: 30px;
  display: inline-block;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

footer a:active {
  text-decoration: none;
}

footer .col h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.col:nth-of-type(1) {
  align-self: center;
}

.col img {
  height: 36px;
}

.hover-link {
  font-size: 14px;
}

.hover-link:hover {
  color: #00bcd4;
  text-decoration: none;
  font-size: 14px;
}

.footer-links {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.footer-links:hover {
  color: #5abdd3;
  cursor: pointer;
}

footer .end {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

footer .copyright {
  color: white;
  text-align: center;
  font-size: 14px;
}

footer .creator {
  color: white;
  text-align: justify;
  justify-content: space-between;
  font-size: 14px;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  transition: all 0.4s;
}

.to-top.active {
  opacity: 1;
}

.to-top:hover {
  transform: scale(1.1);
}

/* Dark Theme */

.dark-theme .container {
  background-color: black;
}

/* Responsiveness */

@media (max-width: 767px) {
  .themeBody {
    margin: 0 2rem;
    right: 3rem;
    height: 100%;
  }

  .row {
    flex-direction: column;
  }

  .col {
    padding: 5px;
  }

  footer .creator {
    text-align: left;
  }
}

@media (min-width: 768px) {
  header .title-container {
    margin-left: 1rem;
  }

  .title-container .title {
    font-size: 20px;
  }

  header .links {
    margin-right: 1rem;
  }
}