.h {
  margin-top: 10vh;
  padding: 0 4rem;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .intro-title,
.intro .intro-description {
  font-size: 24px;
  text-align: center;
  color: var(--txt);
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.intro .intro-description {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 3.6rem;
}

.intro .get-started {
  display: block;
  padding: 0.7rem 1rem;
  text-decoration: none;
  color: var(--txt);
  font-size: 17px;
  border: 2px solid rgb(18, 38, 64);
  transition: all 0.3s;
  background-color: var(--bg);
}

.intro .get-started:hover {
  background-color: rgb(18, 38, 64);
  color: white;
  border-color: rgb(18, 38, 64);
}

.img-hero {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.categories-container {
  padding: 2.5rem 0;
  background-color: var(--bgg);
}

.categories-container .categories-title {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.categories-container .categories {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories .category {
  background-color: var(--bg);
  margin-top: 2.5rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  border-radius: 8px;
}

.category .category-title {
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
}

.category .category-link {
  display: block;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  font-size: 14px;
  border: 2px solid rgb(18, 38, 64);
  transition: all 0.3s;
  color: var(--txt);
  background-color: var(--bg);
}

.category .category-link:hover {
  background-color: rgb(18, 38, 64);
  color: white;
}

.about-container {
  padding: 5rem 2rem;
}

.about-items {
  background-color: var(--bg);
  padding: 2rem 1.5rem;
  box-shadow: 0 0 5px 0 #dfdfdf;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .about-title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.about .about-description {
  text-align: left;
  line-height: 1.3;
  margin-bottom: 2.5rem;
}

.about-items .contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contribute .contribute-title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.contribute .contribute-description {
  text-align: left;
  line-height: 1.3;
  margin-bottom: 1.8rem;
}

.contribute .contribute-link {
  background-color: black;
  padding: 0.6rem 1rem;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: box-shadow 0.3s;
}

.contribute .contribute-link:hover {
  box-shadow: 0 0 7px 0 #cecbcb;
}

.contribute .contribute-link svg {
  width: 1rem;
  height: 1rem;
  fill: white;
  margin-right: 0.3rem;
}

/* Dark Theme */

.dark-theme .get-started {
  border-color: white;
}

.dark-theme .category .category-link {
  display: block;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  font-size: 14px;
  border: 2px solid rgb(252, 254, 255);
  transition: all 0.3s;
  color: var(--txt);
  background-color: var(--bg);
}

.dark-theme .contribute .contribute-link {
  color: #020202;
  background-color: white;
}

.dark-theme .contribute .contribute-link svg {
  fill: black;
}

/* Responsiveness */

@media (min-width: 425px) {
  .categories .category {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .h {
    flex-direction: column-reverse;
    margin-top: 0vh;
    height: 110vh;
  }

  .intro {
    width: 100%;
  }

  .img-hero {
    min-width: 90%;
  }
}

@media (min-width: 768px) {
  .intro .intro-title {
    font-size: 25px;
  }

  .intro .intro-description {
    font-size: 20px;
  }

  .categories-container {
    padding: 3rem 0;
  }

  .categories-container .categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .categories-container .categories-title {
    margin-bottom: 3rem;
  }

  .categories .category {
    width: 45%;
    margin: 0 2.5rem 2.5rem 0;
  }

  .categories .category:nth-of-type(2n),
  .categories .category:nth-of-type(5) {
    margin-right: 0;
  }

  .categories .category:nth-of-type(5) {
    margin-bottom: 0;
  }

  .about-container {
    padding: 5rem 3rem;
  }

  .about-items {
    flex-direction: row;
  }

  .about {
    margin-right: 4rem;
  }

  .about,
  .contribute {
    width: 40%;
    height: 40vh;
  }

  .about .about-description {
    margin-bottom: 0;
  }
}

@media (max-width: 850px) {
  .h {
    padding: 0 1rem;
  }
}

@media (min-width: 1024px) {
  .categories-container .categories {
    padding: 0 2rem;
  }

  .categories .category {
    width: 30%;
    margin: 0 1.5rem 1.5rem 0;
  }

  .categories .category:nth-of-type(2n) {
    margin-right: 1.5rem;
  }

  .categories .category:nth-of-type(3),
  .categories .category:nth-of-type(5) {
    margin-right: 0;
  }

  .categories .category:nth-of-type(4) {
    margin-bottom: 0;
  }

  .about-container {
    padding: 5rem 7rem;
  }

  .about-items {
    padding: 2rem 1rem;
  }

  .about .about-title,
  .contribute .contribute-title {
    font-size: 21px;
  }

  .about .about-description,
  .contribute .contribute-description {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  .intro .intro-title {
    font-size: 26px;
  }

  .intro .intro-description {
    font-size: 21px;
  }

  .intro .get-started {
    font-size: 18px;
  }

  .categories-container {
    padding: 4rem 0;
  }

  .categories-container .categories-title {
    margin-bottom: 4rem;
  }

  .categories .category {
    width: 25%;
    margin: 0 3rem 3rem 0;
    border-radius: 15px;
    border: 2px solid white;
  }

  .categories .category:nth-of-type(2n) {
    margin-right: 3rem;
  }

  .category .category-title {
    font-size: 20px;
  }

  .category .category-link {
    font-size: 15px;
  }

  .about-container {
    padding: 5rem 12rem;
  }

  .about,
  .contribute {
    height: 36vh;
  }

  .about-items {
    padding: 3rem 1rem;
  }

  .about .about-title,
  .contribute .contribute-title {
    font-size: 22px;
  }

  .about .about-description,
  .contribute .contribute-description {
    font-size: 18px;
  }
}