.h {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 3rem;
}

.h img {
  width: 100%;
  height: 80vh;
}

.intro .intro-title {
  font-size: 32px;
  text-align: center;
  color: var(--txt);
  margin-bottom: 2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.intro .intro-description {
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 2.6rem;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(73, 81, 91);
  letter-spacing: 1px;
}

.intro .get-started {
  display: block;
  padding: 1rem 3rem;
  text-decoration: none;
  color: black;
  font-size: 19px;
  border: 2px solid var(--bgg);
  transition: all 0.3s;
  border-radius: 8px;
  background-color: transparent;
  transform: scale(0.85);
  letter-spacing: 0.5px;
}

.intro .get-started:hover {
  color: white;
  background-color: var(--bgg);
}

.img-hero {
  width: 60%;
  height: 80%;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.categories-container {
  padding-top: 3.5rem;
  background-color: var(--bgg);
}

.categories-container .categories-title {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.categories-container .categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.categories:hover {
  transform: translateZ(1.10);
  transition: ease-in-out 10ms;
}

.category {
  width: 80%;
  background-color: var(--bg);
  margin-bottom: 4rem;
  display: flex;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  height: 38vh;
  border: 2px solid white;
  border-radius: 8px;
}

.category:hover {
  transform: translateY(-10px);
  background-color: rgb(176, 241, 255);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.category-image {
  width: 32%;
}

.category-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.category-image:nth-of-type(2) img,
.category-image:nth-of-type(4) img {
  border-radius: 0 8px 8px 0;
}

.category-info {
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
}

.category-info p {
  margin-bottom: 1.7rem;
}

.category .category-title {
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.5;
}

.category .category-link {
  display: inline-block;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
  font-size: 15px;
  border: 2px solid rgb(18, 38, 64);
  transition: all 0.3s;
  color: black;
  background-color: transparent;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.category .category-link:hover {
  background-color: #193254;
  color: white;
}
.about-container {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.about-items {
  width: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about-items > div{
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  width: 50%;
  height: 100%;
  border: 1px solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 4px;
  border-color: #193254;  
}

.about-items > div:hover {
  border-color: #405D72;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.about {
  display: flex;
  flex-direction: column;
  /* height: 38vh; */
  padding: 2rem;
  background-color: white;
  gap: 8px;
  
}

.about .about-title {

  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  overflow: hidden;
  animation-duration: 200ms;
}

.about .about-description {
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  position: relative;
}

.about-description p {
  margin-bottom: 1.7rem;
  font-size: 17px;
  color: #405D72;
}

.about-description .buttons {
  display: flex;
  gap: 1rem;
  bottom: 0;
  position: absolute;
}

.about-description .star,
.about-description .sponsor {
  width: 7rem;
  height: 3rem;
  text-decoration: none;
  font-size: 15px;
  border: 2px solid rgb(18, 38, 64);
  transition: all 0.3s;
  color: white;
  background-color: #193254;
  border-radius: 5px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  gap: 0.3rem;
}

.about-description .star {
  background-color: white;
  color: black;
}

.about-description .sponsor i {
  transform: translateY(1.6px);
}

.about-description .star:hover {
  background-color: #193254;
  color: white;
}

.about-description .sponsor:hover {
  background-color: transparent;
  color: black;
}

.about-items .contribute {
  display: flex;
  padding: 2rem;
  gap: 8px;
  flex-direction: column;
  background-color: white;
}

.contribute .contribute-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.contribute .contribute-description {
  line-height: 1.3;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contribute-description p {
  margin-bottom: 1.7rem;
  font-size: 17px;
  color: #405D72;
}

.contribute .contribute-link {
  width: 7rem;
  height: 3rem;
  background-color: white;
  padding: 0.9rem 1.3rem;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: all 0.3s;
  gap: 0.4rem;
  border: 2px solid black;
}

.contribute .contribute-link:hover {
  background-color: black;
  color: white;
}

/* Dark Theme */

.dark-theme .intro-title {
  color: white;
}

.dark-theme .intro-description {
  color: #dee2e6;
}

.dark-theme .get-started {
  color: black;
  border-color: white;
  background-color: transparent;
  color: white;
}

.dark-theme .get-started:hover {
  background-color: white;
  color: black;
}

.dark-theme .category .category-link {
  transition: all 0.3s;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.dark-theme .category:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
}

.dark-theme .category:hover .category-link {
  background-color: transparent;
  border: 2px solid black;
  color: black;
}

.dark-theme .category .category-link:hover {
  background-color: #193254;
  border: 2px solid #193254;
  color: white;
}

.dark-theme .about,
.dark-theme .contribute {
  background-color: #193254;
}

.dark-theme .about-title,
.dark-theme .contribute-title {
  background-color: white;
  color: black;
}

.dark-theme .about .star {
  background-color: #193254;
  color: white;
}

.dark-theme .about .sponsor {
  background-color: white;
  color: black;
}

.dark-theme .about .star,
.dark-theme .about .sponsor {
  border: 2px solid white;
}

.dark-theme .about .star:hover {
  background-color: white;
  color: black;
}

.dark-theme .about .sponsor:hover {
  background-color: #193254;
  color: white;
}

.dark-theme .contribute .contribute-link {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.dark-theme .contribute .contribute-link:hover {
  background-color: white;
  color: black;
}