@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: white;
  --txt: black;
  --bgg: rgb(25, 50, 84);
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.dark-theme {
  --bg: #1a1a1a;
  --txt: rgb(216, 216, 216);
  --bgg: rgb(18, 37, 63);
  --box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--txt);
}

header {
  background-color: var(--bgg);
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .title-container {
  padding: 1rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.title-container img {
  height: 28px;
}

.elemContainer {
  display: flex;
  align-items: center;
  margin-right: 1.3rem;
}

#themeBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

#themeToggle {
  padding: 0.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  display: flex;
  /* Set to flex to center the child elements */
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
}

#themeToggle:hover {
  background-color: rgb(42, 85, 142);
}

#themeToggle i {
  color: white;
  font-size: 20px;
}

#themeToggle .fa-moon {
  display: none;
}

#themeToggle.dark-theme .fa-moon {
  display: inline;
}

#themeToggle.dark-theme .fa-sun {
  display: none;
}

.container button:nth-child(2) {
  background: transparent;
  color: #333333;
}

header .links {
  list-style: none;
  display: block;
}

.item a {
  padding: 0.8rem;
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 50%;
}

.item a:hover {
  background-color: rgb(42, 85, 142);
}

.h {
  margin-top: 10vh;
  padding: 0 4rem;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .intro-title,
.intro .intro-description {
  font-size: 24px;
  text-align: center;
  color: var(--txt);
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.intro .intro-description {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 3.6rem;
}

.intro .get-started {
  display: block;
  padding: 0.7rem 1rem;
  text-decoration: none;
  color: var(--txt);
  font-size: 17px;
  border: 2px solid rgb(18, 38, 64);
  transition: all 0.3s;
  background-color: var(--bg);
}

.intro .get-started:hover {
  background-color: rgb(18, 38, 64);
  color: white;
  border-color: rgb(18, 38, 64);
}

.img-hero {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.categories-container {
  padding: 2.5rem 0;
  background-color: var(--bgg);
}

.categories-container .categories-title {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.categories-container .categories {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories .category {
  background-color: var(--bg);
  margin-top: 2.5rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  border-radius: 8px;
}

.category .category-title {
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
}

.category .category-link {
  display: block;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  font-size: 14px;
  border: 2px solid rgb(18, 38, 64);
  transition: all 0.3s;
  color: var(--txt);
  background-color: var(--bg);
}

.category .category-link:hover {
  background-color: rgb(18, 38, 64);
  color: white;
}

.about-container {
  padding: 5rem 2rem;
}

.about-items {
  background-color: var(--bg);
  padding: 2rem 1.5rem;
  box-shadow: 0 0 5px 0 #dfdfdf;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .about-title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.about .about-description {
  text-align: left;
  line-height: 1.3;
  margin-bottom: 2.5rem;
}

.about-items .contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contribute .contribute-title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.contribute .contribute-description {
  text-align: left;
  line-height: 1.3;
  margin-bottom: 1.8rem;
}

.contribute .contribute-link {
  background-color: black;
  padding: 0.6rem 1rem;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: box-shadow 0.3s;
}

.contribute .contribute-link:hover {
  box-shadow: 0 0 7px 0 #cecbcb;
}

.contribute .contribute-link svg {
  width: 1rem;
  height: 1rem;
  fill: white;
  margin-right: 0.3rem;
}

footer {
  background-color: var(--bgg);
  position: absolute;
  width: 100%;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.contain {
  display: grid;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
  color: white;
  padding-bottom: 50px;
}

footer a {
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-size: 30px;
  display: block;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

footer a:active {
  text-decoration: none;
}

footer .col h3 {
  margin-bottom: 20px;
}

.hover-link {
  font-size: 14px;
}

.hover-link:hover {
  color: #00bcd4;
  text-decoration: none;
  font-size: 14px;
}

.footer-links {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.footer-links:hover {
  color: #5abdd3;
  cursor: pointer;
}

footer .end {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

footer .copyright {
  color: white;
  text-align: center;
  font-size: 14px;
}

footer .creator {
  color: white;
  text-align: justify;
  justify-content: space-between;
  font-size: 14px;
}

.social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#socialicons {
  transition: .5s;
  text-decoration: none;
  color: inherit;
}

#socialicons i {
  color: inherit;
}

#socialicons a:hover::before {
  transform: scale(1.1);
}

#socialicons a:hover {
  color: inherit;
  color: #00bcd4;
  text-shadow: 0 0 5px #00bcd4;
}

.fa-brands {
  color: white;
  font-size: 20px;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/* Dark Theme */

.dark-theme .get-started {
  border-color: white;
}

.dark-theme .category .category-link {
  display: block;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  font-size: 14px;
  border: 2px solid rgb(252, 254, 255);
  transition: all 0.3s;
  color: var(--txt);
  background-color: var(--bg);
}

.dark-theme .contribute .contribute-link {
  color: #020202;
  background-color: white;
}

.dark-theme .contribute .contribute-link svg {
  fill: black;
}

/* Responsiveness */

@media (min-width: 425px) {
  .categories .category {
    width: 80%;
  }
}

@media (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
  }

  .themeBody {
    margin: 0 2rem;
    right: 3rem;
    height: 100%;
  }

  .h {
    flex-direction: column-reverse;
    margin-top: 0vh;
    height: 110vh;
  }

  .intro {
    width: 100%;
  }

  .img-hero {
    min-width: 90%;
  }

  .row {
    flex-direction: column;
  }

  .col {
    padding: 5px;
  }

  footer .creator {
    text-align: left;
  }
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
  }

  header .title-container {
    margin-left: 1rem;
  }

  .title-container .title {
    font-size: 20px;
  }

  header .links {
    margin-right: 1rem;
  }

  .intro .intro-title {
    font-size: 25px;
  }

  .intro .intro-description {
    font-size: 20px;
  }

  .categories-container {
    padding: 3rem 0;
  }

  .categories-container .categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .categories-container .categories-title {
    margin-bottom: 3rem;
  }

  .categories .category {
    width: 45%;
    margin: 0 2.5rem 2.5rem 0;
  }

  .categories .category:nth-of-type(2n),
  .categories .category:nth-of-type(5) {
    margin-right: 0;
  }

  .categories .category:nth-of-type(5) {
    margin-bottom: 0;
  }

  .about-container {
    padding: 5rem 3rem;
  }

  .about-items {
    flex-direction: row;
  }

  .about {
    margin-right: 4rem;
  }

  .about,
  .contribute {
    width: 40%;
    height: 40vh;
  }

  .about .about-description {
    margin-bottom: 0;
  }

  footer .end {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .h {
    padding: 0 1rem;
  }
}

@media (min-width: 1024px) {
  .categories-container .categories {
    padding: 0 2rem;
  }

  .categories .category {
    width: 30%;
    margin: 0 1.5rem 1.5rem 0;
  }

  .categories .category:nth-of-type(2n) {
    margin-right: 1.5rem;
  }

  .categories .category:nth-of-type(3),
  .categories .category:nth-of-type(5) {
    margin-right: 0;
  }

  .categories .category:nth-of-type(4) {
    margin-bottom: 0;
  }

  .about-container {
    padding: 5rem 7rem;
  }

  .about-items {
    padding: 2rem 1rem;
  }

  .about .about-title,
  .contribute .contribute-title {
    font-size: 21px;
  }

  .about .about-description,
  .contribute .contribute-description {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  .intro .intro-title {
    font-size: 26px;
  }

  .intro .intro-description {
    font-size: 21px;
  }

  .intro .get-started {
    font-size: 18px;
  }

  .categories-container {
    padding: 4rem 0;
  }

  .categories-container .categories-title {
    margin-bottom: 4rem;
  }

  .categories .category {
    width: 25%;
    margin: 0 3rem 3rem 0;
    border-radius: 15px;
    border: 2px solid white;
  }

  .categories .category:nth-of-type(2n) {
    margin-right: 3rem;
  }

  .category .category-title {
    font-size: 20px;
  }

  .category .category-link {
    font-size: 15px;
  }

  .about-container {
    padding: 5rem 12rem;
  }

  .about,
  .contribute {
    height: 36vh;
  }

  .about-items {
    padding: 3rem 1rem;
  }

  .about .about-title,
  .contribute .contribute-title {
    font-size: 22px;
  }

  .about .about-description,
  .contribute .contribute-description {
    font-size: 18px;
  }
}