body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: rgb(18, 38, 64);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 15px;

}

.navbar-default {
    /*background: #005986;*/
    background-color: #476a95;
}

.navbar {
    border: 0;
    border-radius: 0;
    text-align: center;
    height: 60px;
}

ul.nav {
    list-style: none;
    border-right: 1px solid #84B6D0;
    margin: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 13px;
}

ul.nav li {
    padding: 20px 0;
    display: inline-block;
}

ul.nav li a {
    padding: 20px 10px;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 25px;

}

ul.nav li a:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 90%;
    right: 0;
    background: white;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: -90px
}

ul.nav li:first-child a:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 90%;
    left: 0;
    background: white;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: -90px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    margin-inline-start: 0px;
    margin-inline-end: 13px;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #a5d1e7;
}

section {
    padding: 0 3rem;
}

.card {
    background-color: rgb(219, 255, 248);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #761377;
}

footer .creator {
    font-size: 17px;
    color: white;
    text-align: center;
}

footer {
    background-color: #2a2f35;
    padding: 1rem 1.3rem;
}