@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 1200px
}

.construction {
    padding: 1rem 0;
    background-color: black;
    text-align: center;
    color: rgb(255, 148, 148);
    font-size: 14px;
}




.heading {
    margin: 2rem 0;
    margin-top: 3vh;
    text-align: center;
}

@media (min-width:768px){
  .heading{
    margin-top: 13vh;
  }
}


section {
    padding: 0 3rem;
    width: 100%;
}

.card {
    /* background-color: rgb(219, 255, 248); */
    /* background-color: rgb(255, 121, 49); */
    width: 100%;
    background-color: #1c2b43;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #761377;
    margin-bottom: 2rem;
    text-align: center;
}

footer {
    background-color: #2a2f35;
    padding: 1rem 1.3rem;
}

footer .end {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

footer .copyright {
    color: white;
    text-align: center;
}

footer .creator {
    color: white;
    text-align: center;
}

.fa-brands {
    color: white;
}

@media (min-width: 425px) {
    .categories .category {
        width: 80%;
    }
}


@media (min-width: 1280px) {
    header .title-container {
        margin-left: 2rem;
    }

    header .links {
        margin-right: 2rem;
    }


}

footer {
    background-color: rgb(18, 38, 64);
    position: absolute;
    width: 100%;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
  }
  
  footer .creator {
    color: white;
    text-align: justify;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .contain {
    display: grid;
  }
  
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .col {
    flex-basis: 25%;
    padding: 10px;
    color: white;
    padding-bottom: 50px;
  }
  
  footer a {
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 30px;
    display: block;
  }
  
  footer a:link {
    text-decoration: none;
  }
  
  footer a:visited {
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: none;
  }
  
  footer a:active {
    text-decoration: none;
  }
  
  /* Add margin-bottom to the headings in the footer */
  footer .col h3 {
    margin-bottom: 20px;
  }
  
  .social{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .about-footer {
    padding-top: 15px;
    color: #ffffff;
    font-size: 11px;
    font-stretch: semi-condensed;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  
    .col {
      padding: 5px;
    }
  
    footer .creator {
      text-align: left;
    }
  }
}

  
  
  .to-top {
    background: #403e3e;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  
  .to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
  
  .hero-img {
    border: 2px solid white;
    height: 70%;
    width: 90%;
  }
  .footer-links{
    font-size: 14px;
    text-decoration:none; 
    color: white;
  
  }
  .footer-links:hover {
    
    color: #5abdd3;
    cursor: pointer;
  }

  #socialicons {
    transition: .5s;
    text-decoration: none; 
    color: inherit; 
  }
  
  #socialicons i {
    color: inherit; 
  }
  
  #socialicons a:hover::before {
    transform: scale(1.1);
  }
  
  #socialicons a:hover {
    color: inherit; 
    color: #00bcd4;
    text-shadow: 0 0 5px #00bcd4;
  }
  #image{
    margin: 30px 100px;
  }
  h3{
    color: rgb(210, 229, 234);
  }
  p{
    color: white;
  }
  #xros{
    margin-bottom:90px ;
  }
  #hack{
    margin-bottom: 90px;
  }
  #foss{
    margin-bottom: 90px;
  }