.heading {
  margin: 2rem 0;
  text-align: center;
}

.card1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 20px;
  margin-bottom: 20px; 
  justify-items: center;
}

.box1 {
  width: 100%;
  border: 1px solid black;
  padding: 20px 25px;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 43, 85);
  border-radius: 10px;
  color: white;
}

.box1:hover {
  transform: scale(1.03);
  transition-duration: 150ms;
}

.card1 .box1 ul li {
  list-style: none;
}

.btn {
  background-color: rgb(17, 15, 15);
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.btn a {
  color: white;
}
.btn a:hover{
  color: blue;
}

/* Responsiveness */

@media screen and (max-width:450px) {
  .card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width:850px) {
  .card1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width:1030px) {
  .card1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}