.heading {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.heading img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.card1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 20px;
  margin-bottom: 20px;
}

.box1 {
  border: 1px solid black;
  padding: 20px 25px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 43, 85);
  border-radius: 10px;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.box1:hover {
  transform: scale(1.05);
}

.card1 .box1 ul li {
  list-style: none;
}

.btn {
  background-color: rgb(17, 15, 15);
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.btn a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .card1 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .box1 {
    height: auto;
    padding: 15px 20px;
  }
}

@media screen and (max-width: 600px) {
  .card1 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .box1 {
    padding: 10px 15px;
  }

  .btn {
    padding: 8px 15px;
  }
}

@media screen and (max-width: 450px) {

  .heading{
    overflow: hidden;
    margin: 0;
  }

  img{
    transform: scale(1.3);

  }
  .card1 {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.5rem;
    margin: 0;
  }

  .box1 {
    padding: 10px;
    min-height: 10rem;
    margin: 0.5rem 0rem;
  }

  .btn {
    padding: 6px 10px;
  }
}
