@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background-color: white;

}

.construction {
    padding: 1rem 0;
    background-color: black;
    text-align: center;
    color: rgb(255, 148, 148);
    font-size: 14px;
}

header {
    background-color: rgb(18, 38, 64);
    display: flex;
    flex-direction: column;
    position: relative;
}

header .title-container {
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.title-container .title .link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Roboto';
    font-weight: 400;
    transition: font-size 0.3s ease-in-out;
    height: 20px;
}

.link img {
    margin-right: 0.3px;
    height: 100%;
}

header .links {
    list-style: none;
    display: none;
    flex-direction: column;
    border-top: 1px solid rgb(31, 63, 104);
    position: absolute;
    top: 10vh;
    width: 100%;
    background-color: rgb(18, 38, 64);
}

header .toggle-links {
    display: flex;
}

.item .link {
    padding: 0.7rem 0;
    padding-left: 1.3rem;
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.3s;
    border-bottom: 1px solid rgb(31, 63, 104);
    transform-origin: right;
}

.item .link:nth-of-type(2) {
    border-bottom: none;
}

.item .link:hover {
    background-color: rgb(42, 85, 142);
}

.title-container .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.7rem 0.5rem;
    transition: background-color 0.3s;
}

.title-container .hamburger:hover {
    background-color: rgb(28, 57, 95);
}

.hamburger .bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: white;
    margin-bottom: 0.2rem;
}

.hamburger .bar:nth-of-type(3) {
    margin-bottom: 0;
}

.heading {
    margin: 2rem 0;
    text-align: center;
}
.heading img{
  height: 335px;
  width: 643px;
}

section {
    padding: 0 3rem;
}

i{
  color: rgb(255, 179, 36);
}

.head-text {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000983;
}

.card {
    /* background-color: rgb(219, 255, 248); */
    background-color: #6c296d;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card p {
    font-size: 1.025rem;
    font-weight: 450;
}

.card h3 {
    /* color: #761377; */
    color: rgb(219, 255, 248);
    margin-bottom: 1rem;
}

footer {
    background-color: #2a2f35;
    padding: 1rem 1.3rem;
}

footer .copyright {
    color: white;
    text-align: center;
}

footer .creator {
    color: white;
    text-align: center;
}

.fa-brands {
    color: white;
}

@media (min-width: 425px) {
    .categories .category {
        width: 80%;
    }
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header .title-container {
        margin-left: 1rem;
    }

    .title-container .title {
        font-size: 20px;
    }

    .title-container .hamburger {
        display: none;
    }

    header .links {
        display: inline-flex;
        flex-direction: row;
        border-top: 0;
        height: 10vh;
        margin-right: 1rem;
        top: 0;
        right: 0;
        width: auto;
        background-color: transparent;
    }

    .links .item {
        padding: 0.8rem 0;
        padding-right: 1.3rem;
    }

    .links .item:nth-of-type(1) {
        padding-right: 0.6rem;
    }

    .item .link {
        padding: 0 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        border-bottom: none;
    }

}

@media (min-width: 1280px) {
    header .title-container {
        margin-left: 2rem;
    }

    header .links {
        margin-right: 2rem;
    }


}

footer {
    background-color: rgb(18, 38, 64);
    position: absolute;
    width: 100%;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
  }
  
  footer .creator {
    color: white;
    text-align: justify;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .contain {
    display: grid;
  }
  
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .col {
    flex-basis: 25%;
    padding: 10px;
    color: white;
    padding-bottom: 50px;
  }
  
  footer a {
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 30px;
    display: block;
  }
  
  footer a:link {
    text-decoration: none;
  }
  
  footer a:visited {
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: none;
  }
  
  footer a:active {
    text-decoration: none;
  }
  
  /* Add margin-bottom to the headings in the footer */
  footer .col h3 {
    margin-bottom: 20px;
  }
  
  .social{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .about-footer {
    padding-top: 15px;
    color: #ffffff;
    font-size: 11px;
    font-stretch: semi-condensed;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  
    .col {
      padding: 5px;
    }
  
    footer .creator {
      text-align: left;
    }
  }
  
  footer .end {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  
  .to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
  
  .hero-img {
    border: 2px solid white;
    height: 70%;
    width: 90%;
  }
  .footer-links{
    font-size: 14px;
    text-decoration:none; 
    color: white;
  
  }
  .footer-links:hover {

    color: #5abdd3;
    cursor: pointer;
  }
  #socialicons {
    transition: .5s;
    text-decoration: none; 
    color: inherit; 
  }
  
  #socialicons i {
    color: inherit; 
  }
  
  #socialicons a:hover::before {
    transform: scale(1.1);
  }
  
  #socialicons a:hover {
    color: inherit; 
    color: #00bcd4;
    text-shadow: 0 0 5px #00bcd4;
  }
  .headh2{
    text-align: center;
  }
  .headh3{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
  }
  .btn{
    background-color: rgb(17, 15, 15);
    padding:10px 20px;
    border: 1px solid black;
    border-radius: 10px;
  }
  .btn a{
    color: white;
  }
  .bi{
    color:white;
  }
  .question{
    color: white;
    margin-bottom: 9px;
  }
  .source{
    margin-right: 10px;
  }
  .italic{
    color: #fff;
  }
  li{
    margin-bottom: 15px;
  }
  .card1 .box1 ul li{
    list-style: none;
  }
  .box1{
    border: 1px solid black;
    padding: 20px 25px;
    height: 150px;
    width: 320px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 43, 85);
    border-radius: 10px;
  }
  .card1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: repeat(4,1fr);
    gap: 1rem;
  }