.heading {
  margin: 2rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  margin: 3rem;
}

.image {
  width: 100%;
  height: 100%;
}

section {
  padding: 0 3rem 3rem; /* removing the whitespace below resources (additional padding) */
}

.head-text {
  position: absolute; /* position head text inside the image */
  top: 38%;
  left: 3%;
  width: 40%;
  font-size: 1.4rem;
  font-weight: 600;
  color: whitesmoke; /*contrast the text within the image's blue background */
  text-align: center; /* centering the text */
}

#heading {
  text-align: center;
  margin-bottom: 30px;
}

.card1 {
  display: flex; /* making the cards flex for better layout */
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 50px;
}
/* removing the whitespace below resources */
.card1:last-child {
  margin-bottom: 80px;
}
.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.box1 {
  border: 1px solid rgba(255, 245, 245, 0.8);
  padding: 20px 25px;
  height: 150px;
  width: 320px;
  text-align: center;
  display: flex; /* Improving the overall look by adding flex and background gradient*/
  flex: 0 1 320px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(153, 247, 153), rgb(102, 204, 255));
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box1:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* adding a shadow */
}

.card1 .box1 ul li {
  list-style: none;
}

.question {
  color: rgb(3, 0, 98);
  margin-bottom: 9px;
}

.source {
  margin-right: 10px;
}

.italic {
  /* color: whitesmoke; */
  color: rgb(27, 26, 26);
}

.btn {
  background-color: rgb(17, 15, 15);
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.btn a {
  color: white;
  text-decoration: none;
}

.bi {
  color: white;
}

#open {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.card {
  background-color: #181b60;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.card p {
  font-size: 1.025rem;
  font-weight: 450;
  color: white;
  line-height: 2rem;
}

.card h3 {
  color: #761377;
  margin-bottom: 2rem;
}

.head {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Responsiveness */

@media (max-width: 270px) {
  .heading {
    margin: 0px;
  }

  .image {
    width: 215px;
    margin-top: 70px;
  }
}

@media (max-width: 380px) {
  .heading {
    margin: 0px;
  }

  .image {
    width: 215px;
    margin-top: 70px;
  }
}

@media (min-width: 425px) {
  .categories .category {
    width: 80%;
  }
}

@media (max-width: 470px) {
  .heading {
    margin: 0px;
  }

  .image {
    width: 300px;
    margin-top: 140px;
  }

  .card1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .heading {
    margin: 0px;
  }

  .image {
    width: 500px;
    margin-top: 140px;
  }
}

@media (max-width: 767px) {
  .heading {
    margin: 0px;
  }

  .image {
    width: 500px;
    margin-top: 140px;
  }

  .card1 {
    display: flex;
    flex-direction: column;
  }
}
