.heading {
  margin: 2rem 1rem;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin: 3rem;
}

.head-img {
  width: 100%;
  height: 90%;
}

.head-img img {
  width: 100%;
  height: 90%;
}

section {
  padding: 0 0 3rem;
  /* removing the whitespace below resources (additional padding) */
}

.head-text {
  position: absolute;
  top: 30%;
  left: 3%;
  font-size: 1.2rem;
  width: 40%;
  font-weight: 600;
  color: whitesmoke;
  text-align: center;
  /* centering the text */
}

#heading {
  text-align: center;
  color: #000;
  margin-bottom: 1rem;
}

/* card slider */
.swiper-container {
  padding-top: 2rem;
  width: 100%;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  background-image: url('/assets/arrow.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 2rem 2rem !important;
  width: 2rem !important;
  height: 2rem !important;
  position: absolute;
  top: auto;
  bottom: 0px;
  transform: none;

  &::after {
    content: none !important;
  }
}

.swiper-container .swiper-button-prev {
  transform: rotate(180deg);
  left: auto;
  right: calc(50% + 40px);
}

.swiper-container .swiper-button-next {
  right: auto;
  left: calc(50% + 40px);
}

.swiper-container .swiper-button-next:hover,
.swiper-container .swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.386);
}

.swiper-pagination {
  color: #181b60;
  position: absolute;
  bottom: 0rem;
}

.swiper-container .swiper-pagination-fraction {
  color: black;
  font-size: 1rem;
}

.resources-section,
.videos-section {
  color: #FFFFFF;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-container {
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.styled-hr {
  border: 1px solid black;
  /* Change color and thickness */
  width: 60%;
  /* Full width */
  margin: 0 0;
  margin-top: 2rem;
  /* Space above and below */
}

.swiper-container {
  width: 100%;
}

.card1 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* removing the whitespace below resources */
.card1:last-child {
  margin-bottom: 80px;
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.box1 li {
  list-style-type: none;
}

.box1 li span {
  color: white;
}

.box1 {
  border: 1px solid rgba(255, 245, 245, 0.8);
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 50, 84);
  gap: 2rem;
  border-radius: 1rem;
  padding: 1rem;  
}

.card1 .box1 ul li {
  list-style: none;
}

.question {
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.source-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.italic {
  color: whitesmoke;
  font-weight: 400;
}

.btn {
  background-color: #8B5CF6;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  display: flex;
}

.link-arrow {
  width: 1rem;
}

.btn a {
  color: white;
  text-decoration: none;
}

.bi {
  color: white;
}

#open {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.card {
  background-color: #181b60;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.card p {
  font-size: 1.025rem;
  font-weight: 450;
  color: white;
  line-height: 2rem;
}

.card h3 {
  color: #761377;
  margin-bottom: 2rem;
}

.head {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}



/* Responsiveness */

@media (max-width: 270px) {

  .heading {
    margin: 0px;
  }

  .image {
    width: 215px;
    margin-top: 70px;
  }
}

@media (max-width: 380px) {
  .heading {
    margin: 0px;
  }

  .image {
    width: 215px;
    margin-top: 70px;
  }
}

@media (min-width: 425px) {
  .categories .category {
    width: 80%;
  }
}

@media (max-width: 470px) {
  .head-text {
    top: 55% !important;
    left: 3%;
    font-size: 10px !important;
  }

  .heading {
    margin: 0px;
  }

  .image {
    width: 300px;
    margin-top: 140px;
  }

  .card1 {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .head-text {
    top: 48%;
    left: 3%;
    font-size: 0.8rem;
  }

  .heading {
    margin: 0px;
  }

  .image {
    width: 500px;
    margin-top: 140px;
  }
}

@media (max-width: 767px) {
  .head-text {
    top: 48%;
    left: 3%;
    font-size: 0.8rem;
  }

  .heading {
    margin: 0px;
  }

  .image {
    width: 500px;
    margin-top: 140px;
  }

  .card1 {
    display: flex;
    flex-direction: column;
  }

  .content-section {
    padding: 10px;
  }
}