/* Fixed the FAQ Heading hidden under navbar  */
main{
    padding: 5rem 0 2rem;
}

.heading{
    font-size: 3rem;
    font-family: 'Markazi Text', serif;
    font-weight: bold;
    padding:0 0 0 2rem;
    padding-top: 1%;
    color: rgb(18, 38, 64);
}

.faqs_container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.faqs{
    display: flex;
    padding: 2rem 2rem;
    gap: 2rem;
}

.faq{
    height: fit-content;
    padding: 1rem 1rem;
    background-color: rgb(18, 38, 64);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    cursor: pointer;
}

.faq_title{
    font-size: 1rem;
    font-weight: 500;
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_title .plus{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.plusBtn{
    padding: .5rem;
}

.faq_content{
    height:0;
    overflow: hidden;
    font-size: 1rem;
    font-family: Inter;
    color: #f7f7f7;
    transition: height 0.2s ease-in-out, padding 0.2s ease-in-out;
}
a{
    text-decoration: none;
    color:#629add;
}
a:hover{
    text-decoration: underline;
}

body.dark-theme {
    background-color: #333;
}

.dark-theme {
    --bg: #020202;
    --txt: white;
}

/* Header styles for dark mode */
body.dark-theme .heading {
    color: white; /* Change this to the desired text color for the header in dark mode */
}
body.dark-theme main {
    background-color: black; /* Change this to the desired text color for the header in dark mode */
}
@media (max-width: 767px) {
    .themeBody {
      margin: 0 2rem;
      right: 3rem;
      height: 100%;
    }
  }

/* Responsive Media Query */
@media screen and (max-width: 768px){
    .faqs_container{
        grid-template-columns: 1fr;
    }
    .faqs{
        flex-flow: column;
    }
    .heading{
        padding:0;
        text-align: center;
    }
}

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  
  .to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
 
  .to-top:hover{
    text-decoration: none;

  }