section {
  padding: 2rem 3rem;
}

.image {
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 500px;
}

.imagecontainer {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
}

#top {
  text-align: center;
}

h2 {
  color: #9d12a3;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
}

.dark-theme h2 {
  color: #aee31f;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

#web {
  margin-top: 40px;
}

.card {
  background-color: rgb(32, 43, 85);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  flex-grow: 1;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
}

.btn {
  background-color: #8B5CF6;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  display: flex;
}

.link-arrow {
  width: 1rem;
}

.btn a {
  color: white;
  text-decoration: none;
}

.bi {
  color: white;
}

#arrow {
  margin-bottom: 90px;
}

#mind {
  margin-bottom: 90px;
}

#drop {
  margin-bottom: 70px;
}

.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  align-content: center;
}


/* Responsiveness */

@media screen and (max-width:450px) {
  .imagecontainer {
    position: relative;
    min-width: 90%;
    min-height: 14rem;
  }

  .imagecontainer img {
    width: 100vw;
    height: fit-content;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .image {
    width: 90%;
    height: 100px;
  }
}

@media screen and (max-width:850px) {
  .image {
    width: 90%;
    height: 350px;
  }
}