.heading {
  margin: 2rem 0;
  text-align: center;
}

.heading img {
  height: auto;
  width: 100%;
  max-width: 643px;
}


section {
  padding: 0 0 20px;
  height: 100%;
}

.headh2 {
  text-align: center;
  margin-bottom: 20px;
}

.card1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 20px;
  justify-items: center;
}

.box1 {
  border: 1px solid black;
  padding: 20px 25px;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 43, 85);
  border-radius: 10px;
  color: white;
}

.box1:hover {
  transform: scale(1.03);
  transition-duration: 150ms;
}

.card1 .box1 ul li {
  list-style: none;
}

.btn {
  background-color: rgb(17, 15, 15);
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.btn a {
  color: white;
}
.btn a:hover{
  color: blue;
}
.question {
  color: white;
  margin-bottom: 9px;
  font-size: 1rem;
}

.source {
  margin-right: 10px;
}

i {
  color: rgb(255, 179, 36);
}

.italic {
  color: #fff;
}

.btn {
  background-color: rgb(17, 15, 15);
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.btn a {
  color: white;
  text-decoration: none;
}

.bi {
  color: white;
}

#dynamic-contribution {
  padding-bottom: 20px;
}

@media (max-width: 950px) {
  .heading img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0 1rem;
  }

  .card1 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 450px) {
  .card1 {
    grid-template-columns: 1fr;
  }

  .heading img {
    width: 90%;
    height: auto;
  }

  .headh2{
    font-size: 1.2rem;
  }

  .box1 {
    min-height: 10rem;
    padding: 15px;
  }

  .box1 li{
    margin: 2px;
  }

  .question {
    font-size: 0.9rem;
  }

  .btn {
    padding: 8px 16px;
  }
}