section {
  padding: 0 3rem;
}

.card {
  /* background-color: rgb(219, 255, 248); */
  background-color: rgb(137, 196, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  color: #761377;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .image {
    width: 200px;
    height: 100px;
    margin: 0px;
    overflow-x: hidden;
  }
}

.image {
  width: 800px;
  height: 500px;
  margin: 0 200px;
}

#novu {
  margin-bottom: 90px;
}

#web {
  margin-top: 40px;
}

#arrow {
  margin-bottom: 90px;
}

#mind {
  margin-bottom: 90px;
}

#drop {
  margin-bottom: 70px;
}

#top {
  text-align: center;
}

@media screen and (max-width:450px) {
  .image {
    width: 250px;
    height: 200px;
  }
}

@media screen and (max-width:850px) {
  .image {
    width: 500px;
    height: 350px;
  }
}