section {
  padding: 0 3rem;
}

.image {
  width: 800px;
  height: 500px;
  margin: 0 200px;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
}

#top {
  text-align: center;
}

h2 {
  color: #9d12a3;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.dark-theme h2{
  color: #aee31f ;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

#web {
  margin-top: 40px;
}

.card {
  background-color: rgb(137, 196, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.dark-theme-card{
  background-color: rgb(25, 50, 84);
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.dark-theme-card a{
  color: #ffffff;
}
.dark-theme-card a:hover{
  color: #aee31f ;
}

#arrow {
  margin-bottom: 90px;
}

#mind {
  margin-bottom: 90px;
}

#drop {
  margin-bottom: 70px;
}

#web-dev-repositories {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


/* Responsiveness */

@media screen and (max-width:450px) {
  .image {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .image {
    width: 200px;
    height: 100px;
    margin: 0px;
    overflow-x: hidden;
  }
}

@media screen and (max-width:850px) {
  .image {
    width: 500px;
    height: 350px;
  }
}