.image {
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 500px;
  border-radius: 5px;
  padding: 10px;
}

.imagecontainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.imagecontainer img {
  min-width: 80%;
  min-height: 80%;
  border-radius: 5px;
}

.heading {
  margin: 2rem 0;
  margin-top: 3vh;
  text-align: center;
}

section {
  padding: 0 3rem;
  width: 100%;
}

h2 {
  color: #761377;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  width: 100%;
  background-color: #1c2b43;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

h3 {
  color: rgb(210, 229, 234);
}

p {
  color: white;
}

#heading-margin {
  margin-top: 90px;
}


/* Responsiveness */

@media (min-width: 425px) {
  .categories .category {
    width: 80%;
  }
}

@media screen and (max-width:450px) {
  #image {
    width: 90%;
    height: 200px;
  }
}

@media (min-width:768px) {
  .heading {
    margin-top: 13vh;
  }
}

@media screen and (max-width:850px) {
  #image {
    width: 90%;
    height: 200px;
  }
}