@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
}

.container {
    min-height: 100vh;
    background-color: #fafafa;
}

header {
    background-color: rgb(18, 38, 64);
    display: flex;
    flex-direction: column;
    position: relative;
}

header .title-container {
    padding: 1rem 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.title-container .title .link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: font-size 0.3s ease-in-out;
}

header .links {
    list-style: none;
    display: none;
    flex-direction: column;
    border-top: 1px solid rgb(31, 63, 104);
    position: absolute;
    top: 10vh;
    width: 100%;
    background-color: rgb(18, 38, 64);
}

#navLinks.show {
    display: flex;
}

.item .link {
    padding: 0.7rem 0;
    padding-left: 1.3rem;
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.3s;
    border-bottom: 1px solid rgb(31, 63, 104);
    transform-origin: right; 
}

.item .link:nth-of-type(2) {
    border-bottom: none;
}

.item .link:hover {
    background-color: rgb(42, 85, 142);
}

.title-container .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.7rem 0.5rem;
    transition: background-color 0.3s;
}

.title-container .hamburger:hover {
    background-color: rgb(28, 57, 95);
}

.hamburger .bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: white;
    margin-bottom: 0.2rem;
}

.hamburger .bar:nth-of-type(3) {
    margin-bottom: 0;
}
section {
    padding: 0 3rem;
}

.card {
    background-color: rgb(219, 255, 248);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    font-family: Arial, sans-serif;
}
h2 {
    color: #761377;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    background-color: #2a2f35;
    padding: 1rem 1.3rem;
}
footer .creator {
    font-size: 17px;
    color: white;
    text-align: center;
}


@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header .title-container {
        margin-left: 1rem;
    }

    .title-container .title {
        font-size: 20px;
    }

    .title-container .hamburger {
        display: none;
    }

    header .links {
        display: flex;
        flex-direction: row;
        border-top: 0;
        height: 10vh;
        margin-right: 1rem;
        top: 0;
        right: 0;
        width: auto;
        background-color: transparent;
    }

    .links .item {
        padding: 0.8rem 0;
        padding-right: 1.3rem;
    }

    .links .item:nth-of-type(1) {
        padding-right: 0.6rem;
    }

    .item .link {
        padding: 0 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        border-bottom: none;
    }
    
}

@media (min-width: 1280px) {
    header .title-container {
        margin-left: 2rem;
    }

    header .links {
        margin-right: 2rem;
    }
    
}
footer .creator {
    font-size: 17px;
}
footer {
  background-color: rgb(18, 38, 64);
  position: absolute;
  width: 100%;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

footer .creator {
  color: white;
  text-align: justify;
  justify-content: space-between;
  font-size: 10px;
}

.contain {
  display: grid;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
  color: white;
  padding-bottom: 50px;
}

footer a {
  width: 80px;
  margin-bottom: 30px;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 30px;
  display: block;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

footer a:active {
  text-decoration: none;
}

/* Add margin-bottom to the headings in the footer */
footer .col h3 {
  margin-bottom: 20px;
}


.about-footer {
  padding-top: 15px;
  color: #ffffff;
  font-size: 11px;
  font-stretch: semi-condensed;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col {
    padding: 5px;
  }

  footer .creator {
    text-align: left;
  }
}

footer .end {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

  


