/* theme_switch.css */
#themeBody {
    display: flex;
    align-items: center;
    justify-content: center;
}

#themeToggle {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    /* Set to flex to center the child elements */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

#themeToggle:hover {
    background-color: rgb(42, 85, 142);
}

#themeToggle i {
    color: white;
    font-size: 20px;
    /* Adjust the font size as needed */
}

#themeToggle i:hover {
    /*left to be used for later days  */
}

#themeToggle .fa-moon {
    display: none;
}

#themeToggle.dark-theme .fa-moon {
    display: inline;
}

#themeToggle.dark-theme .fa-sun {
    display: none;
}

/* Center the dark mode switch within the list item */
.links li {
    display: flex;
    align-items: center;
}