.heading {
  font-size: 3rem;
  padding-top: 5rem;
  padding-left: 2rem;
  color: rgb(18, 38, 64);
}

.faqs {
  display: flex;
  padding: 2rem 2rem;
  gap: 2rem;
}

.faqs_container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.faq {
  height: fit-content;
  padding: 1rem 1rem;
  background-color: rgb(18, 38, 64);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-flow: column;
  border-radius: 0.5rem;
  cursor: pointer;
}

.faq_title {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_title .plus {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.plusBtn {
  padding: .5rem;
}

.faq_content {
  background-color: rgba(255, 255, 255, 0.16);
  height: 0;
  overflow: hidden;
  font-size: 1rem;
  color: #f7f7f7;
  transition: height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: #629add;
}

a:hover {
  text-decoration: underline;
}

/* Dark Theme */

body.dark-theme {
  background-color: #333;
}

body.dark-theme .heading {
  color: white;
}

body.dark-theme main {
  background-color: black;
}

/* Responsiveness */

@media screen and (max-width: 768px) {
  .heading {
    padding: 0;
    text-align: center;
  }

  .faqs {
    flex-flow: column;
  }

  .faqs_container {
    grid-template-columns: 1fr;
  }
}